* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #bde01f;
  text-decoration-color: grey;
}

h1 {
  color: #bde01f;
}

h3 {
  color:#bde01f;
}

p {
  font-size: 18px;
}

a:hover {
  color: #2c7865;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  text-decoration-color: #2c7865;
}

body {
  background-color: #3c3c3b;
  font-family: "Righteous";
}

p {
  color: aliceblue;
}

.alias-tag {
  color: #bde01f;
  font-size: 2rem;
}

.alias-tag:hover {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

/* transition */

a,
.btn {
  transition: all 300ms ease;
}

/* header */

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.header-links {
  gap: 2rem;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

nav,
.header-links {
  display: flex;
}

/* sections */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* profile */

#profile {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  height: 60vh;
}

.section_pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text p1 {
  text-align: center;
}

.section_text p1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* icon */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* footer */

footer {
  height: 10vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/* about */

#about {
  position: relative;
  justify-content: center;
  margin-bottom: 1px;
  padding-bottom: 0px;
}

.title-about {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

.text-container {
  display: flex;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

section#about {
  height: 35vh;
}

/* experience */

#experience {
  position: relative;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.details-containers {
  padding: 1.5rem;
  flex: 1;
  background: #3c3c3b;
  border-radius: 2rem;
  border: #bde01f 0.1rem solid;
  border-color: #bde01f;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.experience-sub-title {
  color: #bde01f;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  text-align: center;
}

.ctf-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 9rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

.section_text_p1 {
  text-align: center;
}

.title-experience {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 60px;
}

section#experience {
  height: 70vh;
}

.hidden {
  display: none;
}

.carousel {

  display: flex;
  
  overflow-x: scroll;
  
  scroll-snap-type: x mandatory;
  
  scroll-behavior: smooth;
  
  }
  
  .carousel img {
  
  width: 100%;
  
  scroll-snap-align: start;
  
  }
  


  